<h2>Your Favorited Quotes:</h2>

<% if @favorite_quotes.present? %>
    <% @favorite_quotes.each do |quote| %>
        <li>
            <!-- ### TD: Fix CSS to not have tab after bulletpoint (not an issue for other partials). -->
            <%= render 'shared/quote', quote: quote %>
        </li>
        <br>
    <% end %>
    <%= will_paginate @favorite_quotes %>
<% else %>
    <p>You haven't favorited any quotes yet.</p>
<% end %>