<h2>Your Quotes</h2>

<ul>
    <% if @user_quotes.present? %>
        <% @user_quotes.each do |quote| %>
            <li>
                <%= render 'shared/quote', quote: quote %>
                <br>
                <%= link_to "Edit", edit_quote_path(quote) %> |
                <%= link_to "Delete", quote_path(quote), method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
            <br>
        <% end %>
    <% else %>
        <p>You haven't added any quotes yet.</p>
    <% end %>
</ul>

<!-- ## Pagination: -->
<%= will_paginate @user_quotes %>